@import url('https://fonts.googleapis.com/css2?family=Acme&family=Henny+Penny&display=swap');

body{margin:0; padding:0; font-size:13px;font-family: 'Acme', sans-serif; background-color:#FFFFFF;}
a{outline:none; text-decoration:none;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

article, aside, header, nav, section{display:block; margin:0; padding:0;}
.block{display:block; width:1100px; margin:0 auto; padding:0; text-align:left;}

/* ----------------------------------------------Header container-------------------------------------*/

.header_container{height: 100px;width:100%;background-color: #114169;margin-bottom: 0px;border-bottom:1px solid #ffffff;}
.header_container a{color:#ffffff; background-color:#114169;}

/*----------------------------------------------Header-------------------------------------*/
header{margin: 0px 200px;}
header #title{padding:0px; float:left;}
header #title h1{font-weight:normal; text-transform:uppercase;font-family: 'Henny Penny', cursive; color:#ffffff;font-size:32px;}

header nav{display:block; float:right; margin:20px 0 0 0; padding:20px 0;}
header nav ul{margin:0; padding:0; list-style:none;}
header nav li{display:inline; margin-right:25px; text-transform:uppercase;}
header nav li.logout{margin-right:50px;}
header nav li a{font-size: 20px;}
header nav li a:hover{color:#FF9900;}

/* -------------------------------------- Wallpaper ----------------------------- */

.wallpaper {display:block; width:100%;height: 350px;background-size: cover;text-align: center;clear: left;margin-top: 0px;}
.wallpaper a{color: #ffffff; font-size:30px;line-height: 600px;}

/*----------------------------------------------Content Area-------------------------------------*/

#album_container {padding-bottom: 30px;overflow:auto;margin-bottom: 40px;}
#album_container section{display:block; width:100%; margin:0 0 30px 0; padding:0;}

/* ---- Album name ----- */

#album_name {padding:20px 0; border-bottom:1px solid #DEDEDE; text-align:center;}
#album_name h1{font-size:36px; font-weight:normal; text-transform:uppercase;color:#114169;}
#album_name p{font-size:16px; margin-bottom:0; padding-bottom:0; line-height:1.8em;}

/* ------- Images album ------- */

.album_images{display: grid; grid-gap: 1rem; padding: 1rem; max-width: 1024px; margin: 0 auto; grid-template-columns: repeat(5, 1fr);}
.album_images *{box-sizing: border-box; display: grid; place-items: center;}

.image_container{position: relative; display: flex; overflow: hidden; width: 100%;
  float:left; height: 150px; border-radius: 5px;  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
.image_container img{width:100%;height:100%;}
.image_title{position:absolute; left:0;bottom:0; background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7); font-size: 12px; font-weight: bold;color: #ffffff;;text-transform: uppercase;
  display: block;width: 100%; padding: 5px}

.image_container:hover,.image_container:focus-within { opacity :0.7; }

/* --------- Button prev next --------- */

.button_move{height: 50px;}
.button_move *{display: inline;}
.button_move button{display: inline;background-color: #ffffff;padding: 5px 15px; font-family: "Acme";font-size:50px; border-radius: 10px;border:1px solid white;color:#89bae0;}
.button_move .left {float:left; margin-left: 200px;}
.button_move .right {float:right; margin-right: 200px;}
.button_move button:hover{color:#FF9900;}

/*------------ Selected image Album------------*/

.image_details {margin-top: 40px;padding-top: 20px;border-top: 1px solid #DEDEDE;}

.fullscale_image{margin-left: auto;  margin-right: auto;  display: block; margin-bottom: 20px;}

.image_description h2{color:#114169;text-transform: uppercase;}
.image_description p{color:#4a4a4a;font-size: 12px;text-transform: uppercase;}
.image_description h3{border-bottom:1px solid #DEDEDE;padding-bottom: 30px;margin-bottom: 30px;text-transform: uppercase;color: black;font-size: 18px;}

/* ------------------ Comment--------------------------*/

#comment_container{float:left; width:800px; }
#comment_container h2{text-transform: uppercase; }
#comment_container article h2{font-size:16px; margin-bottom:15px;text-transform: uppercase;}
#comment_container article p{margin:0; padding:0;font-size:16px;}

/* ------- Create comment ----------*/

#right_column{float:right; width:280px;}

#new_comment{padding:15px;border: 2px solid rgba(0,0,0,0.1);border-radius: 5px;}
#new_comment *{display:block;margin:4px 0px;}
#new_comment h2{text-transform: uppercase;float: left;}
#new_comment textarea { resize: none; }
#new_comment input[type="submit"]{background-color: #89bae0;padding: 5px 10px;color:#ffffff;margin: 5px; font-family: "Acme";font-size: 15px; border-radius: 5px;text-transform:uppercase;}
#new_comment input[type="submit"]:hover{background-color: #114169;color:#FF9900;}

/*----------------------------------------------Footer-------------------------------------*/

div.footer{border-top:1px solid #DEDEDE;width:100%;background-color: #89bae0;height: 60px;}

footer p{margin-bottom: 15px; padding:0;text-align:center;color: #ffffff;margin-top: 15px;font-size:18px;text-transform:uppercase;}
