<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Moretti Mormile</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" media="all"
	href="../CSS/style.css" th:href="@{/css/style.css}" />
</head>
<body>
  <!-- header menu -->
  <div class="block" id="header_container">
    <header>
      <div id="title">
        <h1>Image Gallery</h1>
      </div>
      <nav>
        <ul>
          	<li class="logout"><a th:href="@{/Logout}">Logout</a></li>
          </ul>
        </nav>
      </header>
   </div>

    <!-- Wallpaper -->
    <div id="wallpaper" style="background-image: url('images/lago-de-como.jpg');">
    	<p th:text="${'Nice to see you again ' + session.user.username }"></p>
    </div>


    <!-- content -->
    <div class="block">      
       <div id="album_container">
        <section id="album_title">
          <h1>Choose the album to view or create a new one </h1>
        </section>	
        
        <div th:if="${(albumsOther.size() == 0)&&(albumsUser.size()==0)}">
			<h2>No albums to view</h2>
        </div>
	
		<div th:if="${(albumsUser.size() > 0)||(albumsOther.size() > 0)}">
			<div th:remove="all-but-first" id="albums_list">
				<div>
					<h2>YOUR ALBUM</h2>
					<article th:each="a : ${albumsUser}">
						<p th:text="${a.date}">2020-05-17</p>
						<h2 th:text="${a.title}">Lorum ipsum dolor</h2>
            			<a href="#" th:href="@{/Album(album = ${a.id})}"><button>Show</button></a>
					</article>
					<h2>OTHER ALBUMS</h2>
					<article th:each="ao : ${albumsOther}">
						<p th:text="${ao.date}">2020-05-17</p>
						<h2 th:text="${ao.title}">Lorum ipsum dolor</h2>
            			<a href="#" th:href="@{/Album(album = ${ao.id})}"><button>Show</button></a>
					</article>
				</div>
				<article>
            		<h2>Lorum ipsum dolor 1</h2>
            		<a href="album_images.html"><button>Mostra</button></a>
	          	</article>
	          	<article>
	            	<h2>Lorum ipsum dolor 2</h2>
	            	<a href="album_images.html"><button>Mostra</button></a>
	          	</article>
	          	<article>
	            	<h2>Lorum ipsum dolor 3</h2>
	            	<a href="album_images.html"><button>Mostra</button></a>
	          	</article>
        	</div> 
       </div>
			
        <!-- right column -->
        <aside id="right_column">
        
          <div th:if="${albumsUser.size() == 0}" id="upload_image">
				<p>TO LOAD IMAGE CREATE YOUR ALBUM FIRST</p>
          </div>
          
          <div th:if="${albumsUser.size() > 0}" id="upload_image">
	          <h2>UPLOAD IMAGE</h2>
	          <form action="#" th:action="@{/CreateImage}" method="POST" enctype="multipart/form-data">
	          	<div id="detail_image">
		          	<label for="title">Title</label>
		            <input type="text" name="title" />
		            <label for="description">Description</label>
		            <input type="text" name="description" />
		            <label for="file">File</label>
		            <input type="file" name="file" />
	            </div>
	            <p>CHOOSE ALBUMS WHERE TO SAVE</p>
	            <div th:each="au : ${albumsUser}" class="input_checkbox">
	            	<input type="checkbox" name="albums" th:value="${au.id}">
	            	<label th:text="${au.title}"> Album 1</label>
				</div>
				<input type="submit" value="Upload image">
	          </form>
        	</div>
        	
        	
        <div id="create_album">
          <h2>CREATE ALBUM</h2>
          <form action="#" th:action="@{/CreateAlbum}" method="POST">
          	<label for="title">Title</label>
          	<input type="text" name="title">
            <input type="submit" value="Create Album">
          </form>
        </div>
        </aside>
        
        
      </div>
    <!-- / content body -->
    </div>



    <!-- footer -->
    <div class="block" id="footer_container">
      <footer>
        <p>Copyright &copy; 2022 - All Rights Reserved - Moretti Lorenzo / Mormile Matteo</p>
      </footer>
    </div>
  </body>
</html>
